/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/01/2019, 05:22:31 PM
    Author     : ricardo
*/
#canvas{
    height: 400px;
    width: 400px;
    border: 1px solid black;
}
.caja{
    height: 300px;
    width: 300px;
    background-color: #cccccc;
}
.rojo{
    height: 500px;
    width: 500px;
    background-color: red;
}